@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
	box-sizing: border-box;
}

*::before, *::after {
	box-sizing: inherit;
}

html {
    font-size: 16px;
}

body {
    background: #FAEEC8;
}
h1 {
    font-family: "Pridi";
    font-size: 2em;
    text-align: center;
}
p {
    font-family: "Outfit";
    font-size: 1.5em;
    text-align: center;
}

nav {
    position: sticky;
    top: 0;
    background-color: #C8ADEA;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Outfit";
    transition: text-shadow 0.3s ease; 
}

nav li a:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button {
    display: block;
    margin: auto;        
    font-size: 2em;
    text-transform: uppercase;
    background-color: #C8ADEA;
    border: none;
    padding: 10px;
    font-family: "Outfit";
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    border: solid black 2px;
}

button a {
    color: black;
    text-decoration: none;
}

button a:hover {
    color: black;
}

/* links to sources */
.sources {
    text-align: center;
}
  
.sources a {
    display: inline-block;
    margin: 10px;
    font-size: 1.2em;
    font-family: "Outfit";
    color: black;
}
  
.sources a:hover {
    text-decoration: underline;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}