/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
	box-sizing: border-box;
}

*::before, *::after {
	box-sizing: inherit;
}

html {
    font-size: 16px;
}

body {
    background: #FAEEC8;
}
h1 {
    font-family: "Pridi";
    font-size: 2em;
    text-align: center;
}

ol {
    font-family: "Outfit";
    font-size: 1em;
    text-align: center;
}

ol li {
    margin-bottom: 15px;
  }

p {
    font-family: "Outfit";
    font-size: 2em;
    text-align: center;
}

#gonext {
    display: block;
    margin: auto;
    font-size: 2em;
    text-transform: uppercase;
    background-color: #C8ADEA;
    border: none;
    padding: 10px;
    font-family: "Outfit";
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

#gonext:hover {
    border: solid black 2px;
}